button,
.signup-btn,
.login-btn {
    color: var(--white-text);
    font-size: 6rem;
    border: 1px solid var(--white-text);
    border-radius: 1rem;
}

button {
    margin: 0 4rem;
    width: 10rem;
    height: 10rem;
    background-color: transparent;
}

.signup-btn,
.login-btn {
    text-decoration: none;
    width: 60rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn,
.save-btn {
    width: 40rem;
    height: 9rem;
    background-color: var(--secondary-color);
    border-radius: 0;
    font-size: 5rem;
    cursor: pointer;
}

.cancel-btn {
    width: 40rem;
    height: 9rem;
    margin: 0 4rem;
    color: var(--secondary-color);
    text-decoration: none;
    border: 1rem solid var(--secondary-color);
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.kofi-btn {
    text-decoration: none;
    font-size: 6rem;
}